<h1>Propiedades</h1>
<button [disabled]="btnDisabled">enviar</button>
<!--Togle button-->
<button (click)="toggleButton()" >toggle button</button>
<p>{{person.age}}</p>
<button (click)="increaseAge()" >age ++</button>

<input type="text" [value]="name"/>
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="img" alt="">
<hr/>

<p *ngIf="1 == 1"> my content</p>

<h1>Hola Mundo</h1>
<!---String Interpolation-->
<h2>{{'Hola Mundo '.repeat(5)}}</h2>
<p>3 + 3 = {{3 + 3}}</p>

<h3>Hola soy {{name}} y tengo {{age}}</h3>
<img src={{img}} alt="imagen">

<h2>*ngFor</h2>
<ul>
    <li *ngIf="names.length == 0">No Hay Nombres</li>
    <li *ngFor="let name of names; index as i"> {{i+1}} - {{name}} <button (click)="deleteName(i)">Delete</button></li>
</ul>
<input required #nameInput="ngModel" type="text" [(ngModel)]="newName"/>
<button (click)="addNames()">Add Name</button>



<h2>ngModel</h2>
<p>{{person.name}}</p>
<input required #nameInput="ngModel" type="text" [(ngModel)]="person.name"/>
<p> valid: {{nameInput.valid}}</p>

<p>{{person.name}}</p>
<input required #ageInput="ngModel" max="18" min="13" type="number" [(ngModel)]="person.age"/>
<p> valid: {{ageInput.valid}}</p>


<h2>*ngIf</h2>

<input required type="text" [(ngModel)]="person.name"/>
<p *ngIf="person.name == 'Jhonnys' && person.age == 18; else elseBlock"> Hola, soy Jhonnys</p>
<p *ngIf="person.name == 'Kalel'; else elseBlock"> Hola, soy kalel</p>

<ng-template #elseBlock>
    <P>Bloque de else</P>
</ng-template>



<h2>*ngFor para arrays</h2>

<div *ngFor=" let product of products">
<img width="250" [src]="product.image" alt="image">
<h2>{{product.price}}</h2>
<p>{{product.name}}</p>
</div>